upstream backend-tudev{
    server backend:0000;
}

server {
    listen 00;
    listen [::]:00;
    server_name localhost;
    # access_log /var/log/nginx/access.log;
    location / {
        root    /usr/share/nginx/html;
        index   index.html index.html;
        try_files $uri /index.html;
    }
        location /api {
        proxy_pass http://0000; # Thay backend:3000 bằng địa chỉ của ứng dụng backend của bạn

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_set_header X-NginX-Proxy true;
    }
    # Các cài đặt khác có thể được thêm vào tùy thuộc vào yêu cầu của bạn
    # Ví dụ: cài đặt SSL, cấu hình cho ứng dụng Node.js, ...

    # error_log  /var/log/nginx/error.log;

}
